{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="row">
  {% for producto in productos %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <a href="{{ url_for('rutas.producto', producto_id=producto.id_producto) }}">
        <img src="{{ url_for('static', filename=producto.imagen if producto.imagen else 'default_producto.png') }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}" width="300" height="300">
      </a>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.descripcion }}</p>
        <h6 class="card-subtitle mb-2 text-muted">${{ producto.precio }}</h6>
        {% if current_user.is_admin %}
        <form action="{{ url_for('rutas.eliminar_producto', producto_id=producto.id_producto) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
          <button type="submit" class="mt-auto btn btn-danger btn-block">Eliminar producto</button>
        </form>
        {% else %}
        <a href="{{ url_for('rutas.agregar_al_carrito', producto_id=producto.id_producto) }}" class="mt-auto btn btn-primary btn-block">Agregar al carrito</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
